/*PALETA DE COLORES
Verde           #00ff00
Verde oscuro    #1ea90c
Rojo            #ff0000
Azul            #0000ff
*/

*{
    margin: 0;
}

body{
    background-color: #c9f9c3;
    color: white;
    font: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 0px black;
}

section{
    width: 30%;
    float: left;
}

img{
    width: 100%;
}

.columna1{
    background: #00ff00;
}

.columna2{
    background: #ff0000;
    width: 40%;
}

.columna3{
    background: #0000ff;
}

/*--------------------------------------------------------*/

@media screen and (max-width: 800px){
    
    img{
        width: 100%;
    }

    .columna1{
        width: 100%;
    }
    
    .columna2{
        width: 100%;
    }

    .columna3{
        width: 100%;
    }

    
}

@media screen and (max-width:480px){
    section{
        width: 100% !important;
    }
}